.options {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem;
}

.btnAnswer {
  color: #ffffe7;
  background-color: #3a3b3c;
  padding: 1.8rem;
  font-size: 2rem;
  transition: all 0.5s;
}

.btnAnswer:not([disabled]):hover {
  background-color: #454545;
}
