@media (max-width: 90em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 50em) {
  html {
    font-size: 50%;
  }
  h1 {
    font-size: 4.2rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  .app {
    min-height: 100vh;
    overflow: auto;
  }
}
